body{
  background-color: #ffeedf;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}
.logOut{
  text-align: right;
}

.outbutton{
  background-color: #3333EE;
  border: none;
  color: white;
  padding: 13px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}
.delbutton {
  background-color: #EE4444;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.addbutton {
  background-color: #8888EE;
  border: none;
  color: white;
  padding: 13px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 3px solid #a0dddd;
    text-align: left;
     padding: 8px;
}

tr:nth-child(even) {
    background-color: #11aadf;
}

a:link, a:visited {
  	background-color: #129060;
  	color: white;
  	padding: 15px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}
a:hover, a:active {
  	background-color: #0040dd;
}


header {
  background-color: #166088;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: right;
}
.topnav {
  overflow: hidden;
  float: right;
}
.topnav headerProfile, headerLogout, headerText {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #166088;
}
.topnav headerProfile:hover {
  background-color: #C0D6DF;
  color: black;
}
.topnav headerLogout:hover {
  background-color: #D62C3F;
  color: black;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
