body{
	background-color:#ddffdd;
}
.logOut{
  text-align: right;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 3px solid #dda0dd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ee11ee;
}

